<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Links Corrector</h1>
    <div class="content">
        <h1 style="text-align: center"></h1>
    </div>
</head>
<body>
    <div>
        <form method="POST" action="/authentication" enctype="multipart/form-data">
            nickname: <input type="text" name="nickname">
            password: <input type="text" name="password">
            long_url: <input type="text" name="url">
            short_url(optional): <input type="text" name="short">
            <input type="submit">
        </form>
    </div>
</body>
</html>